<!DOCTYPE html>
<html lang="kr">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <div class="header">
        <div class="none">
            <div class="profile"></div>
            <div class="name"><%= name %>님, 파이팅!</div>
        </div>
        <a href="/menu">
            <div class="menu">
            </div>
        </a>
    </div>
    <div class="content">
        <a href="/search">
            <div class="box a10">
                <div class="search_pen imgs2"></div>
                <div class="write_text">포스트 찾아보기</div>
            </div>
        </a>

        <div class="box a50 last">
            <div class="a50_items titles">
                <a href="/most-like-post" class="go_post">
                <div class="a50_title">
                    최신 포스트
                </div>
                <div class="a50_subtitle"></div>
                </a>
            </div>     

            <% for(var i = (posts.length - 1); i >= 0; i--){ %>
                <a class="a50_items" href="/posts/<%= posts[i]._id %>" >
                    <div class="a50_post">
                        <%= posts[i].post_title %>
                    </div>
                    <div class="a50_writer">
                        <%= posts[i].user_name %>
                    </div>
                </a>
            <% } %>
            
        </div>
    </div>
</body>
</html>

<style>

    @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

    body {
        font-family: 나눔스퀘어, 'NanumSquare', sans-serif; 
    }


    a {
        text-decoration: none;
        color: initial;
    }

    .go_post {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .titles {
        margin-bottom: 12px;
    }

    a {
        text-decoration: none;
    }

    .a50_items {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .a50_writer {
        color: rgb(180, 180, 180);
    }

    .a50_title {
        font-weight: 600;
        font-size: 17.5px;
        align-items: center;
    }

    .a50_subtitle {
        display: flex;
        font-weight: 400;
        font-size: 14px;
        color: rgb(180, 180, 180);
        background-image: url("/images/back.png");
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        width: 15px;
        height: 15px;
        transform: rotateY(180deg);
        opacity: 0.5;
        position: relative;
        top: 2px;

    }

    .search_pen {
        width: 30px;
        height: 30px;
        background-image: url("/images/search.png");
    }

    .bookmark_pen {
        width: 25px;
        height: 25px;
        background-image: url("/images/bookmark.png");
    }

    .imgs2 {
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 5% center;
        margin-right: 15px;
        opacity: 0.5;
    }

    .write_pen {
        width: 30px;
        height: 30px;
        background-image: url("/images/pen.png");
    }

    .write_text {
        font-size: 18px;
    }

    div {
        box-sizing: border-box;
    }

    .none {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    body {
        margin: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background-color: rgb(245, 245, 245);
        position: absolute;
        width: 100%;
        height: 100%;
        margin-bottom: 100px;
        overflow: scroll;
    }

    .header {
        display: flex;
        padding: 15px;
        flex-direction: row;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 9999;
        justify-content: space-between;
        background-color: rgb(245, 245, 245);
        width: 100%;
    }

    .profile {
        width: 45px;
        height: 45px;
        border-radius: 100px;
        background-image: url("/images/profile.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 5% center;
        margin-right: 12px;
        border: 1px solid gray;
        margin-left: 10px;
        background-color: white;
    }

    .menu {
        width: 35px;
        height: 35px;
        background-image: url("/images/menu.png");
        background-repeat: no-repeat;
        background-size: 100%;
        margin-right: 10px;
    }

    .name {
        font-size: 19px;
        font-weight: 600;
    }

    .content {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 75px;
    }

    .box {
        background-color: white;
        display: flex;
        width: 100%;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
    }

    .a10 {
        height: 65px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 20px;
        color: rgb(120, 120, 120);
    }

    .a50 {
        height: 180px;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding: 20px;
    }

    .last {
        margin-bottom: 50px;
    }

</style> 